@font-face {
    font-family: 'ibm-dos-vga';
    src: url(../fonts/ibm-dos-vga-9x16.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ibm-dos-vga', sans-serif;
    background-color: rgb(180, 181, 175);
    margin: 0;
    padding: 0;
    cursor: none;
}

#top-info {
    width: 100%;
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 0, 251);
    padding: 0;
}

#top-info h3 {
    margin: 0;
    padding: 0;
    color: white;
}

#top-nav {
    width: 100%;
    height: 1.75em;
    background-color: rgb(1, 0, 251);
    padding: 0;
}

#top-options {
    height: 1.75em;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    gap: 10px;
    padding-left: 10px;
}

.top-option {
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.top-option-selected {
    background-color: rgb(180, 181, 175);
    color: rgb(1, 0, 251);
}

#content-master {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(77, 77, 77);
}

.content{
    flex: 1;
}

#main-page {
    overflow: hidden;
    margin: 1vw;
    padding: 1vw;
    border: 0.25vw solid black;
}

.content-selectable {
    color: rgb(1, 0, 251);
}

.content-selectable-selected {
    color: white;
}